body {
  font-size: 1em;
  font-family: 'Archivo Narrow', sans-serif;
  line-height: 1.2;
  padding: 0;
}

.designer{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.toolbox{

}

.textmap{
  font-family: Consolas, monaco, monospace;
  width: 600px;
}

.textmap textarea{
  width: 600px;
}

.scenariomap{

}

.hexgrid{
  border: 1pt solid black;
}

.hexagon polygon{
  fill: #000;
  stroke: #ccc;
  fill-opacity:1;
  stroke-width: 0.2pt;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  pointer-events: all;
  cursor: pointer;
}

.hexagon polygon:hover{
  stroke: #c00;
  stroke: 0.75pt;
}

.hex-blank polygon{
  fill: #fff;
}

.hex-empty polygon{
}

.hex-security polygon{
  fill: url('#security');

  /* background-image:  */
}
