body {
  font-size: 2.25em;
  font-family: 'Archivo Narrow', sans-serif;
  line-height: 1.2;
  padding: 0;
}

.designer{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.textmap{

}

.hexgrid{
  border: 1pt solid black;
}

.hexagon polygon{
  fill: #000;
  stroke: #ccc;
  fill-opacity:1;
  stroke-width: 0.2pt;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  pointer-events: all;
  cursor: pointer;
}

.hexagon polygon:hover{
  stroke: #c00;
}

.hex-blank polygon{
  fill: #fff;
}

.hex-empty polygon{
}

.hex-security polygon{
  fill: #00f
}

.hex-security-guard polygon{
}

.hex-security-lock polygon{
}

.hex-security-camera polygon{
}

.hex-jewel polygon{
}

.hex-1k polygon{
}

.hex-2k polygon{
}

.hex-3k polygon{
}

.hex-reinforcements polygon{
}

.hex-gate-a polygon{
}

.hex-gate-b polygon{
}

.hex-gate-c polygon{
}

.hex-gate-d polygon{
}

.hex-entrance-upper-right polygon{
}

.hex-entrance-upper-left polygon{
}

.hex-entrance-lower-left polygon{
}

.hex-entrance-lower-right polygon{
}

.hex-watchtower{

}
